<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Admin - Delete User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Admin Page - Delete User</h1>	
	
	<form action="#" th:action="@{/deleteUser}" th:object="${registration}" method="post">
        <p>Enter user's email Address: <input type="text" th:field="*{email}" /></p>
        <p><input type="submit" value="Submit" />
        <input type="reset" value="Reset" /></p>
        
        <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    	<p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    	<p>Login: <input type="text" th:field="*{login}" /></p>
        <!-- 
        <p><label th:text="'Last Login: ' + ${lastLogin}"></label></p>
        -->
    </form>
    
    <a href="/admin" style="text-align:center;">Admin</a>
</body>
</html>
